---
import Layout from "../components/Layout.astro"
import { getEntryBySlug } from "astro:content"
import ExternalLink from "~icons/mdi/open-in-new"
import LightBulb from "~icons/mdi/lightbulb-on-outline"

const entry = await getEntryBySlug("guide", "content")
const { Content } = await entry.render()

/* 
TODO: theme switcher
TODO: spanish support
*/

const links = [
  { slug: "preface", title: "Preface" },
  { slug: "first-step-in-map-reading", title: "First Step" },
  { slug: "second-step-in-map-reading", title: "Second Step" },
  { slug: "third-step-in-map-reading", title: "Third Step" },
  { slug: "fourth-step-in-map-reading", title: "Fourth Step" },
  { slug: "fifth-step-in-map-reading", title: "Fifth Step" },
  { slug: "final-note", title: "Final Note" },
]
---

<Layout>
  <section class="theme-switcher-bar">
    <button
      class="theme-switcher"
      data-toggle-theme=",dark"
      data-act-class="ACTIVECLASS"
    >
      <LightBulb font-size={25} class="theme-switcher-icon" />
    </button>
  </section>

  <div class="container">
    <details>
      <summary>Details</summary>
      {
        links.map((link) => {
          return (
            <a href={`#${link.slug}`} class="mobile-nav-link">
              {link.title}
            </a>
          )
        })
      }
    </details>

    <nav class="desktop">
      <ul>
        {
          links.map((link) => {
            return (
              <li>
                <a
                  href={`#${link.slug}`}
                  id={`${link.slug}-link`}
                  class="desktop-nav-link"
                >
                  {link.title}
                </a>
              </li>
            )
          })
        }
      </ul>
    </nav>
    <main>
      <Content />
    </main>
  </div>
  <footer>
    <div>
      <p>
        Especially thanks to <span>Blazepig#0563</span> from the Lost Halls discord
        for the original guide.
      </p>
      <p class="join-paragraph">
        Click
        <span class="discord-link">
          <a href="https://discord.gg/losthalls" target="_blank"> here</a>
          <ExternalLink font-size={15} />
        </span> to join Lost Halls discord.
      </p>
    </div>
  </footer>
</Layout>

<style>
  .container {
    width: 90%;
    max-width: 65rem;
    margin: 0 auto;
    line-height: 1.65;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.5em;
    position: relative;
    align-items: flex-start;
  }

  .theme-switcher-bar {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    max-width: 65rem;
    padding: 1em 0;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
    z-index: 1;
  }

  .theme-switcher {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .theme-switcher-icon {
    color: var(--bg-primary-content);
  }

  details {
    cursor: pointer;
    position: sticky;
    top: 0.5em;
    user-select: none;
    background-color: var(--details-color);
    padding: 0.25em 0.5em;
    z-index: 2;
    border-radius: 0.25em;
    margin: 0.5em 0;
    display: none;
    shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  details > a:nth-child(2) {
    margin-top: 0.25em;
  }

  summary {
  }

  nav.desktop {
    display: block;
    position: sticky;
    top: 2.25rem;
    border: var(--navbar-desktop-border);
    border-radius: 0.25em;
    background-color: white;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul > * + * {
    margin-top: 0.25em;
  }

  li {
    list-style-type: none;
  }

  .mobile-nav-link,
  .desktop-nav-link {
    text-decoration: none;
    color: var(--primary-content);
    padding: 0.5em 1.75em;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
    width: 100%;
    border-radius: 0.25em;
    &[active] {
      background-color: rgba(158, 158, 255, 0.123);
    }
    &:hover {
      background-color: rgba(158, 158, 255, 0.346);
      transition: background-color 0.2s ease-in-out;
    }
  }

  main {
  }

  footer {
    padding: 3em;
    background-color: #0b0d11;
    color: var(--primary-content);
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    z-index: 1;
  }

  footer div {
    width: min(100%, 30rem);
    margin: 0 auto;
  }

  footer span {
    color: #98b2ff;
  }

  footer .join-paragraph {
    font-size: 1.3rem;
    color: var(--bg-primary-content);
  }

  footer .join-paragraph a {
    font-size: 1.4rem;
  }

  footer .discord-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 0.05em;
  }

  footer .discord-link a:visited {
    color: unset;
  }

  @media (max-width: 700px) {
    .container {
      grid-template-columns: 1fr;
      gap: 0;
    }

    nav.desktop {
      display: none;
    }

    details {
      display: block;
    }

    main {
      margin: none;
    }

    footer {
      padding: 1.5em;
    }

    .theme-switcher-bar {
      padding: 1em 0;
      margin: 0 auto;
      position: relative;
      background-color: var(--bg-primary);
      z-index: 1;
    }
  }

  .lost-halls-portal {
    width: auto;
  }
</style>

<script>
  const detailsRef = document.querySelector("details")
  const body = document.querySelector("body")!

  body.addEventListener("click", (e) => {
    const isSummaryButton = (e.target as HTMLElement).tagName === "SUMMARY"
    if (isSummaryButton) return
    detailsRef?.removeAttribute("open")
  })

  document.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", () => {
      detailsRef?.removeAttribute("open")
    })
  })

  const clearActiveLinks = () => {
    const summaryLinksRefs = document.querySelectorAll(".desktop a")
    summaryLinksRefs.forEach((link) => {
      link.removeAttribute("active")
    })
  }

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) return
        const slug = entry.target.id
        clearActiveLinks()
        document.querySelector(`#${slug}-link`)?.setAttribute("active", "")
      })
    },
    {
      rootMargin: "0px 0px -60% 0px",
      threshold: 0.5,
    }
  )

  document.querySelectorAll("h2, h3").forEach((section) => {
    observer.observe(section)
  })
</script>
